<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.manasesapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.manasesapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.manasesapplication.app.modules.success.ui.SuccessActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.discrequest.ui.DiscRequestActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.appnavigation.ui.AppNavigationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.carproblems.ui.CarProblemsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.successbooking.ui.SuccessBookingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.adminprofile.ui.AdminProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.booking.ui.BookingActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.bookingappointment.ui.BookingAppointmentActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.sevices.ui.SevicesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.adminhomepage.ui.AdminHomepageActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.manasesapplication.app.modules.home.ui.HomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.manasesapplication.app.modules.spareshop.ui.SpareShopActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.myprofile.ui.MyProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.payment.ui.PaymentActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.manasesapplication.app.modules.discount.ui.DiscountActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
